# Ignorer les dossiers de données et images générés
COLLECT_DATA/
IMAGE_CATEGORY_*/

# Ignorer fichiers temporaires Python
__pycache__/
*.pyc

# Ignorer environnement virtuel 
venv/
env/

# Fichiers spécifiques aux éditeurs 
.vscode/
